.border {
  border: 5px solid black;
}

#grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 80px 280px 125px 200px;
  grid-template-areas: " cabeza1 cabeza1 cabeza1" "nav1 nav1 nav1" "section2 section2 section2" "aside1 aside1 aside1" "pata1 pata1 pata1";
  row-gap: 5px;
  height: 100vh;
}

header#cabeza1 {
  grid-area: cabeza1;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}

nav#nav1 {
  grid-area: nav1;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}

section#section2 {
  grid-area: section2;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}

aside#aside1 {
  grid-area: aside1;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}

footer#pata1 {
  grid-area: pata1;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}

header#cabeza1 {
  grid-area: cabeza1;
  background-image: linear-gradient(to right, black, rgb(9, 225, 45));
}
header#cabeza1 .header__nav1__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
}
header#cabeza1 .header__nav1__contenedor .header__nav__img1 {
  width: 80px;
  height: 80px;
  border-radius: 45%;
}
header#cabeza1 .header__nav1__contenedor .header__nav__h1 {
  color: rgb(3, 3, 3);
  font-size: 28px;
  font-family: cursive;
  font-style: italic;
  color: white;
}

/* header */
/* navegacion */
.nav1__contenedor ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav1__contenedor ul li {
  background-color: rgb(53, 54, 55);
  margin-right: 10px;
  border-radius: 18%;
  padding-left: 3%;
  border: 2px solid white;
}
.nav1__contenedor ul li a {
  color: rgb(151, 125, 125);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

/* navegacion */
#section2 {
  display: flex;
  flex-direction: row;
}
#section2 .section__div1 img {
  border-radius: 50%;
  height: 200px;
  padding-top: 35px;
}
#section2 .section__div2 h3 {
  color: white;
  padding-top: 25px;
}
#section2 .section__div2 p {
  color: white;
  font-weight: bold;
}

#aside1 p {
  color: white;
  font-size: 18px;
  margin: 4px;
}

#footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer__main #logotype {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
}
#footer__main #logotype h2 {
  font-size: 17px;
  color: white;
}
#footer__main .footer__div2__downn {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
#footer__main .footer__div2__downn .footer__nav2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 15px;
}
#footer__main .footer__div2__downn .footer__nav2 .pages {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 25px;
}
#footer__main .footer__redes p {
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 1200px) {
  #grilla {
    grid-template-columns: 200px 500px;
    grid-template-rows: 100px 160px 100px 70pxpx;
    grid-template-areas: " cabeza1 cabeza1 cabeza1" "nav1 section2 section2" "nav1 section2 section2" "nav1 aside1 aside1" "pata1 pata1 pata1";
  }
  .nav1__contenedor ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .nav1__contenedor ul li {
    margin-bottom: 50px;
  }
  .footer__redes {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=pruebas.css.map */
