header#cabeza1 {
    grid-area: cabeza1;
    background-image: linear-gradient( to right, black , rgb(9, 225, 45) );

    .header__nav1__contenedor {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 05px;
        
        .header__nav__img1  {

            width: 80px;
            height: 80px;
            border-radius: 45%;
            
        } 
        .header__nav__h1 {

            color: rgb(3, 3, 3);
            font-size: 28px;
            font-family: cursive ;
            font-style: italic;
            color: white;
        }
    }
    

}

/* header */