@media screen and (min-width: 1200px)  {
    #grilla   {
   
       grid-template-columns:200px 500px ;
       grid-template-rows: 100px 160px 100px 70pxpx;
       grid-template-areas: 
       " cabeza1 cabeza1 cabeza1"
       "nav1 section2 section2"
       "nav1 section2 section2"
       "nav1 aside1 aside1"
       "pata1 pata1 pata1";
     }
     .nav1__contenedor ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items:stretch;
     }
     .nav1__contenedor ul li {
        margin-bottom: 50px;
     }
     .footer__redes { 
        display: flex;
        flex-direction: column;
     }

    }